<div class="p-2">
  <div class="card">
    <img class="card-img-top" style="height: 350px;" [routerLink]="'/movie-description/' + movie?.id"
      [src]="'https://image.tmdb.org/t/p/w500'+movie?.poster_path" alt="Card image cap">
    <div class="card-body" style="height: 100px;overflow: hidden;">
      <h5 class="card-title">{{movie?.original_title}}</h5>
      <p class="card-text">{{movie?.overview}}</p>
    </div>
    <div class="card-body d-flex justify-content-around">
      <a class="card-link" *ngIf="!isLiked" (click)="onLike()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
      <a class="card-link" *ngIf="isLiked" (click)="onUnlike()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
      <a class="card-link" [routerLink]="'/movie-description/' + movie?.id"><em class="fa fa-comment-o"></em></a>
      <a class="card-link" *ngIf="!isFav" (click)="onAddFavorite()"><em class="fa fa-heart-o"></em></a>
      <a class="card-link" *ngIf="isFav" (click)="onDeleteFav()"><em class="fa fa-heart"></em></a>
    </div>
  </div>
</div>
